@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  height: 100vh;
  overflow: auto;
  -webkit-text-size-adjust: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 80vw;
  text-align: center;
  padding: 0 0 1rem 0;
  margin: 20px 10px 0;
}

.header h1 {
  font-weight: 600;
  font-size: 1.45em;
  color: #4c4e61;
}

.header h2 {
  font-size: 1.5em;
  color: #4c4e61;
}

.header h3 {
  font-size: 0.8em;
  color: #a3a5ae;
}

.header h2,
h3 {
  font-weight: 200;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.content h4 {
  color: #4c4e61;
  padding: 10px 0;
}

.content p {
  color: #a3a5ae;
  font-size: 0.8em;
  padding: 0 0 80px 0;
}

.card {
  position: relative;
  border-style: solid;
  border-width: 3px 0 0 0;
  border-radius: 3%;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  width: 70vw;
  padding: 15px;
  margin: 10px 10px;
}

.content .card img {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: auto;
}

.content .content-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .card1 {
  border-color: #45d3d3;
}

.content .card2 {
  border-color: #ea5353;
}

.content .card3 {
  border-color: #fcaf4a;
}

.content .card4 {
  border-color: #549ef2;
}

.footer {
  position: relative;
  padding: 20px 0;
}

.footer .attribution p a {
  text-decoration: none;
  font-size: .8em;
  color: #4c4e61;
}

a:link {
  text-decoration: none;
  color: #4c4e61;
}

a:visited {
  text-decoration: none;
  color: #4c4e61;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media (min-width: 800px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    width: auto;
  }
  .content, .header {
    -webkit-box-flex: 1 0 auto;
        -ms-flex-positive: 1 0 auto;
            flex-grow: 1 0 auto;
  }
  .footer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 10px 0;
  }
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 90vw;
    height: auto;
  }
  .content .card {
    width: 25vw;
    height: 25vh;
  }
}
/*# sourceMappingURL=styles.css.map */